
<h1><%= @user.name %>
<small><%= @user.email %></small></h1>

<% if current_user?(@user) %>
<div class="text-center">
<%= link_to "Создать мероприятие", new_event_path, class: "btn btn-success" %>
  <%= link_to "Изменить профиль", edit_user_path, class: "btn btn-success" %>
</div>

<% end %>
<br>

<div class="row">
  <div class="col-md-8">
    <h1>Мероприятия для меня</h1>


        <h2>Вы создали</h2>


<%=  @events %>

    <%= @speciality_events %>




<%= @events_sp %>

    <h1> Мои заявки </h1>

    <% if @upcoming_events.any? %>
        <h2>Будущие мероприятия</h2>
        <%= render 'shared/table', object: @upcoming_events %>
    <% end %>

    <% if @previous_events.any? %>

        <h2>Посещенные</h2>
        <%= render 'shared/table', object: @previous_events %>

    <% end %>



  </div>
  <div class="col-md-4"> <h1>Личные данные</h1>

    <%=  bootstrap_form_for (@user) do |f| %>


        <%= f.label :Имя %>
        <%= f.text_field :name, hide_label: true %>

        <%= f.label :email %>
        <%= f.text_field :email, hide_label: true %>


        <%= f.label :Направление %>
        <%= f.select :speciality_id, options_from_collection_for_select(Speciality.all, 'id', 'name', f.object.speciality_id), include_blank: false, hide_label: true %>


        <%= f.label :Дата_рождения %>
        <%= f.date_field :birthdate, hide_label: true %>

        <%= f.label :Телефон %>
        <%= f.phone_field :phone, hide_label: true %>

        <%= f.label :Компания %>
        <%= f.text_field :company, hide_label: true %>

        <%= f.label :Должность %>
        <%= f.text_field :post, hide_label: true %>

        <%= f.label :Город %>
        <%= f.text_field :city, hide_label: true %>

        <%= f.label :Страна %>
        <%= f.text_field :country, hide_label: true %>

        <%= f.label :Область %>
        <%= f.text_field :region, hide_label: true %>

        <%= f.label :Хотели_ли_бы_Вы_получать_дополнительную_информацию %>
        <%= f.text_field :info, hide_label: true %>


    <% end %>

  </div>

</div>
