

.well
  = form_for @filterrific do |f|
    .row
      .col-md-3
        .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Search by first name, last name, or email.' }
          %label Search
          = f.text_field :search_query,
                         :class => 'filterrific-periodically-observed form-control'
      .col-md-3
        .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Filter by country.' }
          %label Country
          = f.select :with_speciality_id,
                     Speciality.options_for_select,
                     { :include_blank => '- Any -' },
                     { :class => 'form-control' }
      .col-md-2
        .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Filter by registration date.' }
          %label Registered after
          = f.text_field :with_created_at_gte,
                         :class => 'js-datepicker form-control'
      .col-md-4
        .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Change the sorting.' }
          %label Sorted by
          = f.select :sorted_by,
                     Event.options_for_sorted_by,
                     {},
                     { :class => 'form-control' }

#results
  = render :partial => 'events/list',
           :locals => { :events => @events }

:javascript
  $('.js-datepicker').datepicker();
  $('#overlayTrigger').click(function(event) {
    event.preventDefault();
    $('body').chardinJs('start');
  });
