<%= bootstrap_form_for (@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :Название %>
      <%= f.text_field :title, input_html: { class: 'form-control'}, hide_label: true %>
    </div>
    <div class="form-group">
      <%= f.label :Описание %>

      <%= f.text_field :description, class:'summernote', hide_label: true %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
