<h1>Новости</h1>
<p id="notice"><%= notice %></p>

<p>
  
  <h2><b><%= @news.title %></b></h2>
</p>

<div class="row">
  <div class="col-md-8"><%= @news.description %></div>
  <div class="col-md-4">
    <header class="main-box-header clearfix">
      <center> <h2>Новости</h2></center>
    </header>
    <div class="main-box-body clearfix">
      <div class="well">
        <u>



          <%=   @recentnews = News.all(:order => 'created_at DESC') %>





        </u>


      </div>
      </div>


  </div>
</div>



<%= link_to 'Править', edit_news_path(@news) %> |
<%= link_to 'Назад', news_index_path %>
